.page-layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.page-layout main {
    flex: 1;
}

footer {
    width: 100%;
    padding: 40px 0px;
    color: white;
    background-color: #31425a;
    margin-top: 24px;
}